*{ margin:0; padding:0; }

html, body{
  width: 100%;
  height: 100%;
  overflow:hidden;
}

.canvas {
 display:block;
}

#entryModalTitle {
    text-align: center;
}

.modal-body {
    padding: 1.5rem!important;
}

.game {
  min-width: 100%;
  min-height: 100%;
  background-color: #666666;
 }

